DATABASE_URL="postgresql://salesai:salesai@localhost:5432/salesai?schema=public"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:3000/api/gmail/callback"
GOOGLE_GMAIL_SCOPE="https://www.googleapis.com/auth/gmail.send"

SEARXNG_URL="http://localhost:8080"
AI_PROVIDER="local"
OLLAMA_BASE_URL="http://localhost:11434"
OLLAMA_MODEL="qwen2.5:7b"
OLLAMA_PLANNER_TIMEOUT_MS="6000"
OLLAMA_QUERY_GENERATOR_TIMEOUT_MS="10000"
OLLAMA_QUALIFICATION_TIMEOUT_MS="20000"
SEARXNG_TIMEOUT_MS="8000"
CRAWL4AI_URL="http://localhost:11235"
CRAWL4AI_API_TOKEN=""
CRAWL4AI_TIMEOUT_MS="60000"
CRAWL4AI_PAGE_TIMEOUT_MS="30000"
OLLAMA_ANALYSIS_TIMEOUT_MS="25000"
